@import url("https://fonts.googleapis.com/css?family=Leckerli+One");

.leckerli {
  font-family: "Leckerli One";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font-size: 18px;
  --main-margin: 3%;
  --main-padding: 1%;
  --big-padding: 6%;
  --big-margin: 6%;
  --midnight-black: #0e1119;
  --midnight-purple: #3c4370;
  --midnight-navy: #0f152c;
  --purple-light: #5861b0;
  --midnight-blue: #141831;
  --purple-dark: #40468a;
  --pumpkin: #edb600;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  margin-top: 15px;
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

body {
  font-size: var(--main-font-size);
  color: var(--midnight-black);
  background: var(--midnight-black);
}

/*========== Side Navigation Bar ===========*/

nav {
  width: 100%;
  height: 55px;
  background: var(--midnight-black);
  color: var(--midnight-blue);
  transition: 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav.hidden {
  height: 10px;
}

nav svg {
  padding: 7.5px 25px;
  height: 55px;
  cursor: pointer;
  transition: 0.5s;
}

nav svg:hover,
nav svg:focus {
  transform: scale(1.15);
  outline: 0;
}

nav svg.hidden {
  display: none;
}

#sidenav {
  height: 100vh;
  width: 280px;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: var(--purple-dark);
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;
  transition: 0.5s;
}

#sidenav.open {
  transform: translate3d(0vw, 0, 0);
}

#sidenav.hidden {
  transform: translate3d(-280px, 0, 0);
}

#sidenav button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  background-color: var(--purple-light);
  color: var(--midnight-black);
  font-size: 1.3em;
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
  transition: 0.5s;
}

#sidenav button:hover,
#sidenav button:focus {
  background: var(--midnight-black);
  color: var(--pumpkin);
  outline: 2;
}

.search input {
  border: 0;
  width: 235px;
  font-size: 0.8em;
  text-align: center;
  padding: var(--big-padding);
  color: var(--pumpkin);
  background: var(--midnight-blue);
  transition: 0.3s;
}

#sidenav p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: var(--big-padding);
  padding-right: var(--big-padding);
  padding-left: var(--big-padding);
}

.search {
  display: flex;
  flex-direction: row;
  margin: var(--big-margin) 0;
  height: 50px;
  background: var(--midnight-blue);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search input:hover,
.search input:focus {
  outline: 0;
  background-color: var(--midnight-blue);
}

.search img {
  padding: 1px;
}

#sidenav ul {
  padding: var(--big-padding);
}

#sidenav li {
  padding: var(--big-padding);
  text-decoration: none;
  font-size: 1em;
  transition: 0.3s;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--midnight-purple);
}

#sidenav li:hover,
#sidenav li:focus {
  background-color: var(--purple-light);
  outline: 0;
}
